.list-wrapper {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .list-wrapper {
        display: flex;
        width: 750px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

.item-list {
    margin: 20px;
    width: 50%;
    height: 500px;
}